@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'PT Sans', sans-serif;
  overflow: none;;

}

h1 {
  font-size: 60px;
  color: white;
 
}

h2 {
  font-size: 48px;
  color: white;
}

h3 {
  color: #00fff1;
  font-size: 32px;
}

p {
  color: white;
}



@media screen and (max-width: 900px) {

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 { font-size: 28px}

  
} 

@media screen and (max-width: 600px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 48px;
  }

  h3 { 
    font-size: 36px;
  }

  @media screen and (max-width: 375px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 28px;
    }
  }
}